/* 
	LEVEL ONE
*/
ul.dropdown { 
    position: relative; 
    text-align: center;
    font-size: 0;
    z-index: 999;
}
ul.dropdown li { 
    width: 210px;
    font-weight: bold;
    display: inline-block;
    background: #0094FF;
    font-size: 16px;
}
ul.dropdown a:hover	{ 
    color: #000;
}
ul.dropdown a:active { 
    color: #ffa500; 
}
ul.dropdown li a { 
    display: block; 
    padding: 10px 8px; 
    border-right: 1px solid #333;
    color: #fff; 
}
ul.dropdown li:last-child a  { 
    border-right: none; 
} /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover { 
    background: #155DBA; 
    color: black; 
    position: relative; 
}
ul.dropdown li.hover a { 
    color: black; 
}


/* 
	LEVEL TWO
*/
ul.dropdown ul { 
    width: 160px;
    visibility: hidden; 
    position: absolute;
}
ul.dropdown ul li { 
    width: 300px;
    font-weight: normal;
    background: #0094FF;
    color: #000; 
    padding: 10px 10px;
    margin: 0 auto;
    top: 0;
}
									  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a	{ 
    border-right: none; 
    width: 100%; 
    display: inline-block;
} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul { 
    left: 187px; 
    top: 0; 
}
ul.dropdown li:hover > ul { 
    visibility: visible; 
}